In [2]:
import numpy as np
import pandas as pd
from itertools import chain

from dataset import read_word_list, pairs, find_common_words, filter_pairs_by_vocabulary

In [3]:
def pmi_bigrams(cooccurence_matrix, vocabulary):
    """Creates a generator of bigrams with their PMI value

    Args:
        cooccurence_matrix (np.array): Occurence matrix for the words in vocabulary
        vocabulary (dict): Word - id mapping

    Yields:
        dict: word, context word and the PMI value
    """
    sum_occurences = np.sum(cooccurence_matrix)
    # todo: fix beginning/ending words
    cnts_word1 = np.sum(cooccurence_matrix, axis=1)
    cnts_word2 = np.sum(cooccurence_matrix, axis=0)
    
    # sanity check because of the sum axis argument:
    assert np.sum(cooccurence_matrix[42, :]) == cnts_word1[42]

    for word1, idx1 in vocabulary.items():
        for word2, idx2 in vocabulary.items():
            cnt_coocurence = cooccurence_matrix[idx1, idx2]
            cnt_word1 = cnts_word1[idx1]
            cnt_word2 = cnts_word2[idx2]
            if cnt_coocurence == 0 or cnt_word1 == 0 or cnt_word2 == 0:
                continue
            pmi = (cnt_coocurence * sum_occurences) / (cnt_word1 * cnt_word2)
            pmi = np.log2(pmi)
            yield {
                "word": word1,
                "context": word2,
                "pmi": pmi
            }

In [7]:
def conduct_experiment(name, data_path, distances):
    # Load the list of words
    word_list = read_word_list(data_path)

    # Find the words that occur 10 or more times
    vocabulary = find_common_words(word_list, occurence_threshold=10)

    # Add indices to words for lookup
    vocabulary = {word: index for index, word in enumerate(vocabulary)}
    # print(f"Size of the {language} vocabulary is", len(vocabulary))

    # Create the pairs for counting
    pair_iterables = []
    for distance in distances:
        # print(distance)
        all_pairs = pairs(word_list, distance=distance)
        pairs_without_rare_words = filter_pairs_by_vocabulary(all_pairs, vocabulary)
        
        pair_iterables.append(pairs_without_rare_words)
    
    final_pairs = chain.from_iterable(pair_iterables)

    # Create the coocurence matrix
    cooccurence_matrix = np.zeros((len(vocabulary), len(vocabulary)))
    for word1, word2 in final_pairs:
        idx1 = vocabulary[word1]
        idx2 = vocabulary[word2]
        cooccurence_matrix[idx1, idx2] += 1

    bigrams_pmi = list(pmi_bigrams(cooccurence_matrix, vocabulary))
    df = pd.DataFrame(bigrams_pmi).sort_values("pmi", ascending=False)
    print(f"{name} with the highest Pointwise Mutual Information:")
    display(df.head(20))
    print(f"{name} with the lowest PMI:")
    display(df.tail(5))

In [8]:
experiments = [
    ("Czech pairs with distance 1", "data/TEXTCZ1.txt", [1]),
    ("English pairs with distance 1", "data/TEXTEN1.txt", [1]),
    ("Czech pairs with distance [2,50]", "data/TEXTCZ1.txt", range(2, 51)),
    ("English pairs with distance [2,50]", "data/TEXTEN1.txt", range(2, 51)),
]

In [9]:
for name, datapath, distances in experiments:
    conduct_experiment(name, datapath, distances)

Czech pairs with distance 1 with the highest Pointwise Mutual Information:

             word     context        pmi
5046     zavedení   příspěvku  14.599157
26784       Peter  Carrington  14.277229
7882     pražském      hotelu  13.791802
35712       deník         The  13.599157
4937      starých    struktur  13.599157
35006  vojenského   materiálu  13.599157
26937          SE          NA  13.599157
33078     teplota       minus  13.469874
17728    platební     bilance  13.469874
34476   Hamburger          SV  13.429232
22638       nějak        mění  13.429232
25676          R.    Maxwella  13.429232
29854     snížení     nákladů  13.277229
2287           Č.  Budějovice  13.277229
14764    silniční     doprava  13.277229
37505       Tomáš       Ježek  13.139726
5047     zavedení  obchodních  13.014195
7844   vojenských    jednotek  13.014195
33988    osobních       obětí  13.014195
31179          JE          NA  13.014195

Czech pairs with distance 1 with the lowest PMI:

      word context       pmi
2722     (       . -6.140203
8620    na       . -6.659000
38084    .      že -6.879808
38083    .      se -7.194381
14315    ,       . -7.937170

English pairs with distance 1 with the highest Pointwise Mutual Information:

            word        context        pmi
27351         La          Plata  13.917209
43887  competent      observers  13.917209
33976        Asa           Gray  13.917209
638           de       Candolle  13.694816
42229      worth          while  13.402636
25569      faced        tumbler  13.332246
8422       Fritz         Muller  13.180243
37743      Malay    Archipelago  13.042740
36909      lowly      organised  13.042740
11094   shoulder         stripe  13.042740
25601     mental      qualities  13.010318
6033        self  fertilisation  12.917209
37448   branched            off  12.890737
31823        red         clover  12.801732
9907       Great        Britain  12.761931
20204  Professor           Owen  12.739671
6547   Galapagos        Islands  12.736637
4191      viscid         matter  12.724564
20142        Sir              J  12.689103
40185    English        carrier  12.595281

English pairs with distance 1 with the lowest PMI:

      word context       pmi
12613   in      of -7.528919
44589    .      of -7.562340
31007   of       . -7.709464
44527    .     the -8.268955
9000   the       , -8.422180

Czech pairs with distance [2,50] with the highest Pointwise Mutual Information:

            word   context       pmi
202300     výher     výher  9.454761
823506       žel       žel  9.019011
109996  Sandžaku  Sandžaku  8.869873
743963         h   teplota  8.856700
129885       CIA       CIA  8.665419
771503       ODÚ       VPN  8.660480
341666    Petrof    Petrof  8.555163
657082       IFS       IFS  8.552574
346877  silniční   doprava  8.540066
578287  Bělehrad   Benfica  8.510431
601900        km       žel  8.353129
736648   Divadlo   Divadlo  8.340621
886453       13h       13h  8.337243
453553   vychází         h  8.321848
760496  duchovní    armádě  8.282902
190261  pražském   teplota  8.258027
346912  silniční  silniční  8.255089
202301     výher        IV  8.240141
50119        OKD       OKD  8.213845
811198   teplota      st.C  8.187294

Czech pairs with distance [2,50] with the lowest PMI:

       word  context       pmi
105816    1    kteří -5.470394
135148    !     jsou -5.521460
583862    6     jsem -5.522305
105781    1  jednání -5.546834
830064    2     jsem -5.990622

English pairs with distance [2,50] with the highest Pointwise Mutual Information:

              word     context       pmi
454442       dried     floated  8.929476
474114     floated       dried  8.878393
454411       dried  germinated  8.619891
454438       dried       dried  8.524467
474085     floated  germinated  8.481611
548777  avicularia   vibracula  8.412526
474119     floated     floated  8.395611
139015      stripe    shoulder  8.380586
821461       layer   hexagonal  8.356975
718343     eastern     Pacific  8.296716
454456       dried        days  8.288269
474137     floated        days  8.220068
66686        heath       heath  8.207461
257977  germinated       dried  8.201615
651701      clover      clover  8.161169
142060    survival     fittest  8.090319
110935       geese      webbed  8.046482
994621     CHAPTER         THE  8.044376
217045         THE         THE  7.985148
685099   dimorphic  trimorphic  7.984689

English pairs with distance [2,50] with the lowest PMI:

             word     context       pmi
586336  selection     islands -3.787475
984133     genera  conditions -3.842065
47397     species         wax -4.006200
236503        wax     species -4.020910
292786  varieties      organs -4.148708